.shopSubMenuDiv {
  display: none;
}
.activeShopSubMenuDiv {
  background-color: black;
  display: block;
}
.shopSubMenu1 {
  list-style-type: none;
}
.shopSubMenu2 {
  list-style-type: none;
}
.shopSubMenu3 {
  list-style-type: none;
}
.shopSubMenu4 {
  list-style-type: none;
}
.subMenuTitle {
  padding: 10px 10px 0;
  color: white;
}
.subMenuLink {
  display: block;
  padding: 10px 10px 0;
  text-decoration: none;
  color: gray;
}
.lastSubMenuLink {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: gray;
}
.subMenuLink:hover {
  color: white;
}
.lastSubMenuLink:hover {
  color: white;
}