@keyframes zoomout {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.elementsSubMenuDiv {
  display: none;
}
.activeElementsSubMenuDiv {
  background-color: black;
  display: flex;
  position: absolute;
  top: 100%;
  width: 400%;
  padding: 20px;
  z-index: 10;
  animation: zoomout 0.5s;
}
