.pagesSubMenu {
  display: none;
}
.activePagesSubMenu {
  display: block;
  background-color: black;
  color: white;
  list-style-type: none;
}
.subMenuLink {
  display: block;
  padding: 10px 10px 0;
  text-decoration: none;
  color: gray;
}
.lastSubMenuLink {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: gray;
}
.subMenuLink:hover {
  color: white;
}
.lastSubMenuLink:hover {
  color: white;
}