.homeSubMenu {
  display: none;
}
@keyframes slideInTop {
  from {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(0);
  }
}
.activeHomeSubMenu {
  display: block;
  position: absolute;
  top: 100%;
  background-color: black;
  color: white;
  list-style-type: none;
  padding: 20px;
  width: 230px;
  z-index: 10;
  animation: slideInTop 0.5s;
}
.subMenuTitle {
  padding: 10px 10px 20px;
  color: white;
}
.subMenuLink {
  display: block;
  padding: 10px 10px 0;
  text-decoration: none;
  color: gray;
}
.lastSubMenuLink {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: gray;
}
.arrowRight {
  display: none;
}
.activeArrowRight {
  display: inline-block;
  padding-right: 10px;
  color: white;
}