@keyframes slideInTop {
  from {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(0);
  }
}
.shopSubMenuDiv {
  display: none;
}
.activeShopSubMenuDiv {
  background-color: black;
  display: flex;
  position: absolute;
  top: 100%;
  width: 400%;
  padding: 20px;
  z-index: 10;
  animation: slideInTop 0.5s;
}